@charset "utf-8";

.footer{
  // margin-top: 20px;
  position: absolute;
  left:0;
  bottom: 20px;
  width: 100%;
    p{
      width: 430px;
      margin-left: 50%;
      transform: translate(-50%,0);
      line-height: 30px;
      text-align: center;
    }
}
