@charset "utf-8";

.footer{
   margin-top: 20px;
   position: absolute;
   left:0;
   bottom: 0;
   width: 100%;
    background-color: #dcdcdc;
    text-align: center;
    p{
      line-height: 60px;
      text-align: center;
    }
}
