@charset "utf-8";

#loginBack{
  background: url("/static/images/login.png") center center no-repeat;
  .login-warp{
    position: absolute;
    left: 50%;
    margin-left: -422.5px;
    top: 50%;
    margin-top: -300px;
    width: 900px;
    height: 620px;
  }
  .login-main{
    height: 620px;
  }
  .pull-left{
    width: 290px;
    height: 620px;
    float: left;
    background: #484848;
    background-color: rgba(0,0,0,0.5)!important;
    text-align: center;
    padding-top: 83px;
    .logins{
      width: 191px;
      height: 100px;
      display: inline-block;
      margin-bottom: 83px;
    }
    .code{
      background: url("/static/images/icon/loginBack02_03.png") no-repeat;
      width: 191px;
      text-align: center;
      height: 191px;
      line-height: 191px;
      display: inline-block;
      img{
        width: 148px;
        height: 148px;
      }
    }
    .btn-app{
      margin-top: 28px;
    }
    a{
      display: inline-block;
      width: 190px;
      text-align: center;
      height: 40px;
      line-height: 38px;
      color:#ffffff;
    }
  }
  .ivu-form-item-required{
    width: 300px;
    margin-left: 50%;
    transform: translate(-50%,0);
  }
  .ivu-form{
    float: left;
    width: 610px;
    height: 620px;
    background: #ffffff;
    .ivu-form-item{
      display: block;
      .ivu-input{
        height: 44px;
        // border: 1px solid #00afcc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      .ivu-btn-primary{
        display: block;
        width: 300px;
        margin-left: 50%;
        transform: translate(-50%,0);
        height: 45px;
        margin-top: 30px;
        line-height: 45px;
        font-size: 18px;
        padding: 0;
        background-color: #00b9d3;
      }
      .ivu-input-group-with-prepend{

        .ivu-input-group-prepend{
          width: 44px;
          text-align: center;
          height: 44px;
          line-height: 43px;
          padding: 0;
          background-color: #00afcc;
          border-radius: 0;
          .iconfont{
            font-size: 28px;
            position: relative;
            top: 6px;
            color:white;
          }
        }
      }
      
    }
    .ivu-item-title{
      .ivu-form-item-content{
        text-align: center;
        h3{
          margin-top: 150px;
          margin-left: 50%;
          transform: translate(-50%,0);
          width: 300px;
          font-size: 20px;
          color:#666666;
          padding-bottom: 20px;
          font-weight: normal;
          border-bottom: 2px solid #00afcc;
        }
      }
      
    }
    .ivu-form-bottom{
      position: absolute;
      left: 658px;
      top: 328px;
      .ivu-form-item-content{
        text-align: right;
        &>a{
          font-size: 12px;
          color:#c2c2c2;
        }
        &>a:hover{
            color: red;
        }
        em{
          color:#666;
          a{color:#ff6612;}
          i{
            font-size: 27px;
            position: relative;
            top: 5px;
            
          }
        }
      }
    }
  }
}

