#order-detail-wrap {
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-color: #fff;
  box-shadow: 0 3px 1px #ccc;
  .order-detail-wrap-head{
    position: relative;
    height: 160px;
    width: 100%;
    background-color: rgb(247,251,255);
    border-bottom: 1px solid rgb(220,220,220);
    img{
      margin:25px 0 24px 45px
    }
    .order-detail-wrap-head-content{
      display: inline-block;
      h3{
        padding-left: 40px;
        span{
          padding-left: 50px;
          color: rgb(255,102,18);
        }
      }
    }
    .order-detail-wrap-head-btn{
      position: absolute;
      right: 50px;
      top: 60px;
      display: inline-block;
      text-align: center;
      width: 140px;
      height: 40px;
      border-radius: 5px;
      border: solid 1px rgb(3,139,226);
      color: rgb(70,170,234);
      background-color: #fff;
      line-height: 40px;
      font-size: 16px;
      cursor: pointer;
      &:hover{
        background-color: rgb(3,139,226);
        color: #fff;
      }
    }
  }

  ul{
    margin: 40px 50px;
    height: 100%;
    li{
      border-bottom:1px dashed #ccc;
      margin-top: 30px;
    }
    li:last-child{
      border-bottom: none;
    }
  }
  .order-detail-content{
    h3{
      display: inline-block;
      color: rgb(3,139,226);
      i{
        margin-right: 10px;
        background:url("/static/images/icon/iden.png") no-repeat;
        background-size: 80%;
        width: 6px;
        height: 24px;
      }
    }
    table{
      tr>td:nth-child(1){
        text-align: right;
      }
      tr{
        td{
          padding: 10px;
        }
      }
    }
  }
  .userInfo{
    margin: 0;
    height: 100%;
    li{
      border-bottom:0;
      margin-top: 10px;
      span{
        display: inline-block;
        min-width: 110px;
      }
      em{
        display: inline-block;
        min-width: 110px;
      }
    }
    li:last-child{
      border-bottom: none;
      margin-bottom: 30px;
    }
    .contactInfoList{
      color: #000;
    }
  }
}