@charset "utf-8";
/*找回密码*/
.PWTop{
  height: 134px;
  width: 100%;
  background: url(../images/EgBg.png) repeat-x;
  div{
    width: 980px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    img{
      float: left;
      margin-top: 20px;
    }
    .FDiv{
      position: absolute;
      top:25px;
      left:160px;
      width:181px;
      height: 67px;
      background: url(../images/Eg5.png) no-repeat;
      font-family: "微软雅黑", "宋体";
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height:67px;
    }
    ul{
      width: 305px;
      height: 75px;
      position: absolute;
      right:128px;
      top:20px;
      li{
        float: left;
        width: 40px;
        margin-right: 20px;
        a{
          float: left;
          width: 12px;
          margin-right: 5px;
          color: #2c2829;
        }
        .FA{
          height: 31px;
          background:url(../images/Eg1.png) no-repeat;
        }
        .SA{
          height: 69px;
          background:url(../images/Eg2.png) no-repeat;
        }
        .TA{
          height: 65px;
          background:url(../images/Eg3.png) no-repeat;
        }
        .WA{
          height: 48px;
          background:url(../images/Eg4.png) no-repeat;
        }
        .active{
          color:#938c0f;
        }
      }
    }
    .rxian{
      width: 156px;
      height: 40px;
      position: absolute;
      right:50px;
      top:20px;
      p{
        color:#b2ab39;
        margin-bottom:5px;
      }
      a{
        color:#b2ab39;
        font-family: "微软雅黑", "宋体";
        font-size:16px;
        font-weight: bold;
      }
      .icon-iconfont-mianfeidianhua{
        display: inline-block;
        color:#b2ab39;
        font-size:24px;
        vertical-align: sub;
      }
    }
  }
}
.RetPassWord{
  width: 980px;
  height: 500px;
  border-top: 2px solid #b8b8b8;
  margin: 20px auto 0;
  position: relative;
  background: #FFF;
  .bg{
    width: 802px;
    height:50px;
    margin: 80px auto 20px;
    background: url(../images/stopN.png) no-repeat;
    position: relative;
    span{
      position: absolute;
      top:15px;
      font-family: '微软雅黑';
      font-size: 18px;
    }
    .stopMP{
      left:60px;color: #FFF;
    }
    .stopPW{
      left:360px;color: #333;
    }
    .stopLS{
      left:642px;color: #333;
    }
  }
  .boxD{
    width: 480px;
    height: 155px;
    margin: 70px auto 0;
    b{
      color:red;
    }
    label{
      color: #333;
      display: block;
      font-family: "微软雅黑", "宋体";
      margin-bottom: 30px;
    }
    .tel{
      width: 220px;
      height: 30px;
      border: 1px solid #dcdcdc;
    }
    button{
      width: 80px;
      height: 30px;
      border: 1px solid #dcdcdc;
      background: #dcdcdc;
      color:#333;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover{
      background: #b2ab39;
      color:#FFF;
    }
    .YZM{
      input{
        width: 310px;
        height: 30px;
        border:1px solid #dcdcdc;
      }
    }
    input:hover{
      border:1px solid #b2ab39;
    }
  }

  .btn{
    border:none;
    width:310px;
    height: 40px;
    color: #FFF;
    background: #b2ab39;
    font-family: "微软雅黑", "宋体";
    font-size: 22px;
    border-radius: 5px;
    margin-left:75px;
    cursor: pointer;
  }
  .btnT{
    margin-left: 120px;
  }
  .Bottom{
    width: 980px;height: 77px;
    background: url(../images/registerBg.png) no-repeat;
    position: absolute;
    bottom: -77px;left:0;
  }
  .bgPW{
    background: url(../images/stopT.png) no-repeat;
    .stopMP{
      color: #333;
    }
    .stopPW{
      color: #FFF;
    }
  }
  .bgLS{
    background: url(../images/stopF.png) no-repeat;
    .stopPM{
      color: #333;
    }
    .stopLS{
      color: #FFF;
    }
  }
  .Gou{
    width: 125px;
    height: 120px;
    background: url(../images/LS.png) no-repeat;
    position: absolute;
    top:180px;
    left:410px;
    span{
      position:absolute;
      bottom:-40px;
      left:-20px;
      width: 200px;
      color:#333;
      font-family: "微软雅黑", "宋体";
      font-size: 18px;
    }
  }
  .RS{
    width: 290px;
    height: 40px;
    background: url(../images/LST.png) no-repeat;
    position: absolute;
    bottom:90px;
    left:350px;
    a{
      display: block;
      width:80px;
      height: 40px;
      margin-left: 70px;
      line-height:45px;
      font-size: 18px;
      color: #FFF;
    }
  }

}