@charset "utf-8";
/*颜色*/
$bd_bg:#faf8f4;
$colornull:transparent;
$color:#ef7a00;
$color1:#ef7a00; //主色调
$color2:#f7ac00; //常规文字色
$color3:#333; //链接文字色
$color4:#999999; //提示内容色
$color5:#ffb50a; //标题内容色
$color6:#666; //辅色调
$color7:#e71f19; //商品价格
$color8:#c4c3a2; //按钮颜色
$color9:#999; //强调文本颜色
$color10:#4f4c4b;
$color11:#3fa7e1;
$color12:#00b400;


/*px*/
$px5:5px;
$px10:10px;
$px15:15px;
$px20:20px;
$px30:30px;
$px35:35px;

