/*
@charset "utf-8";
/!*验证*!/
span.yz{
  display: block;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 20px;
  min-width: 20px;
  line-height: 20px;
  text-indent: 20px;
  &.yz-error{
    background: url("../images/icons/icn-x.png") no-repeat left center;
  }
  &.yz-warning{
    background: url("../images/icons/icn-j.png") no-repeat left center;
  }
  &.yz-right{
    background: url("../images/icons/icn-g.png") no-repeat left center;
  }
  &.valid{
    background: url("../images/icons/icn-g.png") no-repeat left center;
  }
}*/
