#addactivity{
	width: 100%;
	min-height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
	position: relative;
}
#addactivity .refund{
	
	width: 200px;
	height: 40px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	background: #038BE2;
	color: #fff;
	margin-top: 22px;
	margin-left: 198px;
}
#addactivity table tr td:nth-child(1){
	text-align: right;
	color: #000;
	font-weight: bold;
	padding-right: 10px;
}
#addactivity table tr td .radio{
	margin-left: 20px;
}
#addactivity table{
	position: relative;
	margin-left: 85px;
	text-align: left;
	margin-top: 30px;
}
#addactivity table tr{
	height: 50px;
}
#addactivity table tr td input{
	width: 198px;
	height: 34px;
	color: #000;
	padding-left: 10px;
	font-size: 12px;
}
#addactivity table .scope span{
	margin-left: 20px;
}
#addactivity table .scope a{
	width: 200px;
	height: 30px;
	border: 1px solid #dcdcdc;
	text-align: center;
	line-height: 28px;
	display: inline-block;
	border-radius: 10px;
	margin-left: 30px;
}
#addactivity table tr td .mt{
	border: none;
	border: 1px solid #DCDCDC;
	margin-right: 10px;
}
#addactivity table tr td textarea{
	width: 440px;
	height: 120px;
	border: none;
	color: #000;
	padding-left: 10px;
	border: 1px solid #DCDCDC;
	font-size: 12px;
	line-height: 24px;
	resize: none;
}
#addactivity .el-select{
	width: 198px!important;
	height: 34px;
	outline: none;
}
#addactivity .el-select .el-input .el-input__icon{
	border: 1px solid #DCDCDC;
	transition:auto;
	
}

#addactivity .el-select .el-input__inner{
	border-radius: inherit;
	width: 198px;
}
#addactivity .radio .el-checkbox__inner{
	border-radius: 50%;
}
#addactivity .radio2{
	position: absolute;
	left: 310px;
    bottom: 64px;
}
#addactivity table tr td input::-webkit-input-placeholder {
	color: #8fa6bf;
}

#addactivity table tr td input::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}

#addactivity table tr td input::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}

#addactivity table tr td input::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}
#addactivity table tr td textarea::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}
#addactivity .sxb{
	margin-left: 198px;
}