.message-tis{
	width: 100%;
	height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
}
.message-tis .cops{
	margin-left: 120px;
	margin-top: 50px;
}
.message-tis .cops tr td {
	font-size: 14px;
	padding-right: 10px;
	height: 40px;
}
.message-tis .cops tr:nth-child(1) td:nth-child(2){
	font-weight: bold;
}
.message-tis .cops tr td:nth-child(1){
	text-align: right;
}
.operation-box{
	position: absolute;
}
.message-tis .cops tr td a {
	display: block;
	line-height: 30px;
}
.mess{
	margin-right: 10px;
}
