.message-tis{
	width: 100%;
	height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
}
.message-tis .cop{
	position: relative;
	margin-left: 84px;
	margin-top: 30px;
}
.message-tis .cop tr{
	height: 54px;
}
.message-tis .cop tr td:nth-child(1){
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	
}
.message-tis .cop tr td .complie_name{
	width: 290px;
	height: 35px;
	border: none;
	border: 1px solid #dcdcdc;
	color: #c1b0be;
}
.message-tis .cop tr td .el-select{
	width: 142px;
	
	border: 1px solid #dcdcdc;
}
.message-tis .cop tr td .el-select .el-input .el-input__inner{
	border: none;
	color: #b8b8b8;
	width: 140px;
}
.message-tis .cop tr .xiangxi{
	position: absolute;
	left: 96px;
}
.message-tis .cop tr .xiangxi .el-input{
	border: 1px solid #dcdcdc;
	width: 434px;
}
.message-tis .cop tr .xiangxi .el-input .el-input__inner{
	border: none;
	color: #b8b8b8;
	width: 432px;
}
.ivu-date-picker-editor input {
    width: 180px;
}
.message-tis .cop tr td .complie_name2,.message-tis .cop tr td .complie_name3{
	width: 180px;
	height: 35px;
	border: none;
	border: 1px solid #dcdcdc;
}
.message-tis .cop tr .unloading{
	position: absolute;
	left: 120px;
}
.message-tis tr td .cas{
	width: 260px;
	height: 35px;
	text-align: left;
}
.message-tis tr td .cass{
	width: 118px;
	height: 35px;
	text-align: center;
	border: 1px solid #dcdcdc;
	position: absolute;
	left: 379px;
    bottom: 68px;
}
.ivu-date-picker-editor .ivu-input {
    width: 180px!important;
}
.message-tis tr td .form-item{
	width: 180px;
}
