#communitySettingwrap .el-tabs__header{
	border-bottom: 1px solid #038be2;
}
#right-content{
	height: 100%!important;

}
#communitySettingwrap .el-tabs__content {
	padding-bottom: 210px;
}
#communitySettingwrap .el-tabs{
	background: #fff;
	box-shadow: 0 3px 1px #ccc;
}
#communitySettingwrap .el-tabs__nav{
	padding-top: 30px;
	margin-left: 20px;
}
#communitySettingwrap .el-tabs__item{
	font-size: 18px;
}
#communitySettingwrap .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border: 1px solid #038BE2;
    border-bottom-color:#fff ;
}
.inputs{
	width: 120px;
	height: 35px;
	margin-bottom: 10px;
	border-radius:initial;
	display: inline-block;
	margin-top: 15px;
	margin-left: 225px;

}
#communitySettingwrap .el-input .el-input__inner{
	width: 120px;
	height: 35px;
}
#communitySettingwrap .floor-main1{
	width: 600px;
	height: 120px;
	background: #f8f8f8;
}
#communitySettingwrap .el-radio-group{
	margin-left: 90px;
	margin-top: 15px;
	position: absolute;
}
.f5{
	position: absolute;
	top: 20px;
	padding-left: 10px;
	width: 80px;
	height: 20px;
	display: inline-block;
}
#communitySettingwrap .el-radio{
	margin: 10px 38px 25px 0px;

}
.inputs2{

	margin-left: 225px;
}
#communitySettingwrap .el-select{
	width: 160px;
}
#communitySettingwrap .el-input .el-input__inner{
	width: 160px;
}
#communitySettingwrap .tbs .el-input .el-input__inner{
	width: 140px;
}
#communitySettingwrap .baifen{
	margin-left: 10px;
}
#communitySettingwrap .baifen2{
	margin-left: 10px;
	display: inline-block;
}
#communitySettingwrap .ivu-table tr td{
	border: none!important;
}
#communitySettingwrap .btn_bar{
	background-color: #f8f8f8!important;
}
