.message-tis{
	width: 100%;
	height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
}
.message-tis .cop{
	position: relative;
	margin-left: 84px;
	margin-top: 30px;
}
.message-tis .cop tr{
	height: 54px;
}
.message-tis .cop tr td:nth-child(1){
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	
}
.message-tis .cop tr td .complie_name{
	width: 290px;
	height: 35px;
	border: none;
	border: 1px solid #dcdcdc;
	color: #c1b0be;
}
.message-tis .cop tr td .el-select{
	width: 142px;
	
	border: 1px solid #dcdcdc;
}
.message-tis .cop tr td .el-select .el-input .el-input__inner{
	border: none;
	color: #b8b8b8;
	width: 140px;
}
.message-tis .cop tr .xiangxi{
	position: absolute;
	left: 96px;
}
.message-tis .cop tr .xiangxi .el-input{
	border: 1px solid #dcdcdc;
	width: 434px;
}
.message-tis .cop tr .xiangxi .el-input .el-input__inner{
	border: none;
	color: #b8b8b8;
	width: 432px;
}
.ivu-date-picker-editor input {
    width: 180px;
}
.message-tis .cop tr td .complie_name2,.message-tis .cop tr td .complie_name3{
	width: 180px;
	height: 35px;
	border: none;
	border: 1px solid #dcdcdc;
}
.message-tis .cop tr .unloading{
	position: absolute;
	left: 100px;
	width:390px;
	height: 100px;
	border:1px dashed #9accea;
	
}
.message-tis .cop tr .unloading li span{
	font-size: 14px;
	line-height: 30px;
}
.message-tis .cop tr .unloading a:nth-child(1){
	font-size: 12px;
}
.message-tis .cop tr .unloading a:nth-child(2){
	font-size: 14px;
	padding: 10px;
}
.message-tis .cop tr .unloading .el-icon-delete{
	float: right;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
}
.message-tis .cop tr .unloading .el-icon-delete:hover{
	color: #038BE2;
}
.message-tis .cop .btxs{
	color: red;
	margin-right: 5px;
}
/*.message-tis .cop tr td .file{
	width: 260px;
	height: 34px;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.message-tis .cop tr td .mn{
	position: relative;
	width: 260px;
	height: 34px;
	display: inline-block;
	border: 1px solid #DCDCDC;
	line-height: 33px;
	color: #cbcbcb;
	padding-left: 10px;
}
.message-tis .cop tr td .md{
	color: #AA1111;
	font-size: 12px;
}
.message-tis :;cop tr td .md i{
	margin-left: 20px;
	margin-right: 10px;
}
.message-tis tr td .cas{
	width: 260px;
	height: 35px;
	text-align: left;
}*/
.message-tis .cop tr .bargain{
	position: relative;
}
.message-tis .cop tr .bargain button{
	width: 260px;
	height: 34px;
	background: #ffffff;
	text-align: left;
	color: #b8b8b8;
	border-radius: inherit;
	border: 1px solid #dcdcdc;
	position: absolute;
	top: 0;
	left: 0;
}
.message-tis .cop tr .bargain .el-upload__tip{
	position: absolute;
	top: 0px;
    left: 280px;
    color: #c33939;
}
.message-tis .cop tr .bargain ul{
	margin-top: 30px;
	padding-bottom: 10px;
	width: 400px;
}
.message-tis tr td .cass{
	width: 118px;
	height: 35px;
	text-align: center;
	border: 1px solid #dcdcdc;
	position: absolute;
	left: 379px;
    bottom: 68px;
}

.ivu-date-picker-editor .ivu-input {
    width: 180px!important;
}
.message-tis tr td .form-item{
	width: 180px;
}
.operation-box2{
	margin-left: 192px;
	margin-top: 30px;
}
.operation-box2 Button{
	display: inline-block;
	width: 140px;
	height: 40px;
}
.operation-box2 Button{
	margin-right: 30px;
}
