#gethering{
	width: 100%;
	min-height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
	position: relative;
}
#gethering .residentlist{
	height: 74px;
	width: 100%;
	
}
#gethering .residentlist a{
	display: inline-block;
	color: #666;
	width: 140px;
	height: 40px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	background: #f8f8f8;
	float: left;
}
#gethering .residentlist .zhut{
	margin-left: 30px;
	float: left;
	line-height: 74px;
	font-weight: bold;
}
#gethering .residentlist .el-select{
	float: left;
	width: 118px;
	height: 34px;
	margin-top: 20px;
}
#gethering .residentlist .el-select .el-input__inner{
	border: none;
	border: 1px solid #dcdcdc;
	border-radius: inherit;
}
#gethering .residentlist .zhut2{
	float: left;
	margin: 0 10px;
	line-height: 74px;
}
#gethering .residentlist .el-select .el-input__icon{
	transition: transform .0s;
	background: #f8f8f8;
	height: 35px;
    border: 1px solid #dcdcdc;
}
#gethering .residentlist .ivu-date-picker{
	width: 128px;
	height: 34px;
	float: left;
	margin-top: 20px;
}
#gethering .residentlist div .phs{
	width: 200px;
	height: 36px;
	float: left;
	margin-top: 20px;
	padding-left: 20px;
	border: none;
	border: 1px solid #DCDCDC;
	font-size: 14px;
	border-right: none;
	margin-left: 70px;
}
#gethering .residentlist div .el-input .is-clickable{
	left: 0;
}
#gethering .residentlist div{
	position: relative;
}
#gethering .residentlist div .inss{
	position: absolute;
	left: 830px;
	top: 31px;
	color: #999999;
	font-size: 16px;
}
#gethering .residentlist div .st{
	width: 68px;
	height: 36px;
	color: white;
	text-align: center;
	line-height: 36px;
	background: #038be2;
	font-size: 16px;
	margin-left: 0px;
	border-radius:inherit;
	margin-right: 20px;
}
#gethering table{
	width: 100%;
	min-height: 100px;
	border-collapse: collapse;
}
#gethering table thead td{
	background: #f8f8f8;
	font-weight: bold;
}
#gethering table td{
	color: #000;
	height: 48px;
	border: 1px solid #DCDCDC;
	text-align: center;
}
#gethering .el-pagination{
	text-align: center;
	margin-top: 40px;
}
#gethering .el-pagination .el-pager .number{
	margin: 0 5px;
	border: 1px solid #DCDCDC;
}
#gethering .el-pagination button{
	border: 1px solid #DCDCDC;
}

#gethering table tr .tas{
	color: #ff5950;
}
#gethering table tr .tasm{
	color: #ff6612;
}
.shade{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.5;
	
}
.bugbox{
	position: relative;
}
.bruin{
	width: 500px;
	height: 420px;
	background: #fff;
	z-index: 101;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	
}
.bruin .el-icon-circle-close{
	position: absolute;
    right: -41px;
    top: -41px;
    font-size: 36px;
    color: #3d3d3d;
    cursor: pointer;
    
}
.bruin p{
	width: 100%;
	height: 60px;
	background: #038BE2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 60px;
}
.bruin table{
	width: 410px;
	margin-left: 30px;
	margin-top: 25px;
}
.bruin table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	padding-right: 8px;
}
.bruin table tr{
	height: 60px;
}
.bruin tr td textarea{
	width: 250px;
	height: 120px;
	border: none;
	border: 1px solid #DCDCDC;
	font-size: 12px;
	color: #b8b8b8;
	padding-left: 5px;
}
.bruin tr td input{
	width: 228px;
	height: 34px;
	border: none;
	border: 1px solid #DCDCDC;
	padding-left: 5px;
	font-size: 12px;
	color: #b8b8b8;
}
.bruin tr td .mongs{
	width: 204px;
}
.bruin tr td span{
	margin-left: 10px;
}
.bruin a{
	width: 140px;
	height: 36px;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color: white;
	background: #038BE2;
	border-radius: 5px;
	margin-left: 150px;
	margin-top: 10px;
}
#gethering .kbt{
	margin: 0 auto;
	text-align: center;
}
