#lodgingHouse{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
}
#lodgingHouse .ivu-floor{
	border-bottom: 1px dashed #dcdcdc;
	width: 90%;
	margin-left: 5%;
	padding: 20px 0;
}
#lodgingHouse .loadin1 table{
	margin-left: 85px;
	font-size: 12px;
}
#lodgingHouse .loadin1 table tr{
	height: 44px;
}
#lodgingHouse .loadin1 table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
	
}
#lodgingHouse .loadin1 table tr td .el-select{
	width: 198px;
}
#lodgingHouse .loadin1 table tr td .el-select .el-input__inner{
	width: 198px;
	border-radius: 0;
	border: 1px solid #dcdcdc; 
}
#lodgingHouse .loadin1 table tr td input{
	width: 198px;
	height: 34px;
}
#lodgingHouse .loadin2{
	min-height: 370px;
	position: relative;
}
#lodgingHouse .loadin2 p{
	width: 83px;
	float: left;
	margin-left: 66px;
	font-weight: bold;
}
#lodgingHouse .loadin2 table{
	width: 600px;
	height: 260px;
	background: #f8f8f8;
	margin-left: 150px;
	margin-bottom: 5px;
}
#lodgingHouse .loadin2 table tr td:nth-child(1){
	text-align: right;
	width: 110px;
	padding-right: 10px;
}
#lodgingHouse .loadinv {
	height: 190px;
}
#lodgingHouse .loadinv p{
	width: 83px;
	float: left;
	margin-left: 66px;
	font-weight: bold;
}
#lodgingHouse .loadinv table{
	float: left;
	width: 600px;
	height: 124px;
	background: #f8f8f8;
}
#lodgingHouse .loadinv table tr td:nth-child(1){
	text-align: right;
	width: 110px;
	padding-right: 10px;
}
#lodgingHouse .loadinv table tr td input{
	width: 198px;
	height: 34px;
	border: none;
	border: 1px solid #DCDCDC;
}
#lodgingHouse .loadin2 a{
	display: block;
	margin-left: 154px;
	margin-top: 30px;
	width: 140px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	border: 1px solid #038be2;
	border-radius: 5px;
	font-weight: bold;
}
#lodgingHouse .loadin2 table tr td input{
	width: 198px;
	height: 34px;
	border: 1px solid #dddee1;
}
#lodgingHouse .loadin3{
	position: relative;
	height: 230px;
}
#lodgingHouse .loadin3 p{
	width: 73px;
	float: left;
	margin-left: 76px;
	font-weight: bold;
}
#lodgingHouse .loadin3 .zq{
	float: left;
	width: 600px;
	height: 180px;
	background: #F8F8F8;
}
#lodgingHouse .loadin3 .zq li{
	margin-top: 10px;
	height: 50px;
}
#lodgingHouse .loadin3 .zq li .qzr{
	margin-left: 50px;
	margin-right: 10px;
}
#lodgingHouse .loadin3 .zq .apartment{
	margin-left: 60px;
	background: none!important;
}
#lodgingHouse .loadin3 .zq .apartment li{
	float: left;
	margin-right: 20px;
	
}
#lodgingHouse .loadin3 .zq .apartment li a{
	float: left;
	width: 90px;
	height: 36px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	text-align: center;
	line-height: 36px;
	background: #fff;
	color: #333333;
}
#lodgingHouse .loadin3 .zq .apartment li .hus{
	border: 1px solid #038BE2;
	color: #038BE2;
}
#lodgingHouse .loadin4{
	position: relative;
	min-height: 420px;
}
.loadin4 .div1{
	width: 100%;
	height: 285px;
}
.loadin4 .div1 p{
	width: 103px;
	float: left;
	margin-left: 34px;
	font-weight: bold;
	margin-right: 10px;
}
.loadin4 .div1 table{
	float: left;
	width: 600px;
	height: 215px;
	background: #f8f8f8;
	margin-bottom: 70px;
}
.loadin4 .div1 table tr td:nth-child(1){
	text-align: right;
	width: 150px;
	padding-right: 10px;
}

.loadin4 table tr td input{
	width: 198px;
	height: 34px;
}
.loadin4 table tr td span{
	margin-left: 10px;
}


.loadin4 .div2{
	width: 100%;
	min-height: 50px;
	position: relative;
}
.loadin4 .div2 p{
	width: 64px;
	float: left;
	margin-left: 74px;
	font-weight: bold;
	margin-right: 10px;
	
}
.loadin4 .div2 .floor-item{
	float: left;
	width: 600px;
	display: block;
}
.loadin4 .div2 .floor-item table{
	width: 600px;
	background: #f8f8f8;
	
}
.clear{ 
	clear:both
} 
.loadin4 .div2 table tr td{
	background: #f8f8f8;
	border-bottom: none!important;
	border-left: none;
	padding-left: 20px;
}
.loadin4 .div2 table tr td input{
	width: 198px;
	height: 34px;
	border: 1px solid #dddee1;

}
.loadin4 .div2 table tr td span{
	margin-left: 10px;
}
.btn_bar{
	background: none!important;
	border-style: none;
	color: #038BE2;
	font-size: 14px;
	font-weight: bold;
}
.loadin4 .div2 .addm{
	display: block;
	width: 140px;
	height: 36px;
	background: #fff;
	margin-top: 30px;
	border: 1px solid #038BE2;
	color: #038BE2;
	text-align: center;
	
	
}
.loadin5 table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.loadin5 table{
	margin-left: 30px;
}
.loadin5 table tr{
	height: 40px;
}
.loadin5 table tr td ul{
	width: 600px;
	height: 170px;
	background: #f8f8f8;
	margin-bottom: 20px;
}
.loadin5 table tr td ul li{
	padding: 10px;
}
.loadin5 table tr td ul li span{
	margin: 0 10px;
}
.loadin5 table tr td ul li .dt{
	margin-left: 25px;
}
.loadin5 table tr td ul li input{
	width: 128px;
	height: 34px;
	border: 1px solid #dddee1;
}
.loadin5 table tr td .uls{
	width: 600px;
	height: 100px;
	background: #f8f8f8;
	margin-bottom: 20px;
}
.loadin6 table{
	margin-left: 15px;
}
.loadin6 table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	padding-right: 12px;
}
.loadin6 table tr{
	height: 50px;
}
.loadin6 table tr .boxs .demo-upload-list{
	float: left;
	display: inline-block;
	width: 160px;
	height: 120px;
	text-align: center;
	line-height: 108px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
	padding: 3px;
	background: #fff;
	position: relative;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	margin-left: 10px;
	margin-right: 10px;
}

.loadin6 table tr .boxs .demo-upload-list img{
  width: 100%;
  height: 100%;
}
.loadin6 table tr .boxs .demo-upload-list-cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.loadin6 table tr .boxs .demo-upload-list-cover i:before{
	display: none;
}
.loadin6 table tr .boxs .demo-upload-list:hover .demo-upload-list-cover{
    display: block;
}
.loadin6 table tr .boxs .ivu-main-img{
	position: relative;
}
.loadin6 table tr .boxs .ivu-main-img .item-img{
	margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.loadin6 table tr .boxs .demo-upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
}
.loadin6 table tr .boxs .demo-upload-list-cover .ivu-icon-ios-trash-outline{
    background-image: url("/static/images/icon/trash-outline.png");
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.loadin6 table tr .boxs .uplodas{
	float: left;
    display: inline-block;
    position: relative;
    height: 122px;
    width: 162px;
    margin-right: 10px;
    margin-left: 10px;
}
.loadin6 table tr .boxs .uplodas div{
	position: absolute;
    left: 0;
    top: 0;
    width: 162px;
    height: 122px;
    line-height: 112px;
    border: 1px solid #DCDCDC;
}
.loadin6 table tr .boxs .uplodas .file{
	position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 120px;
    z-index: 50;
    opacity: 0;
    cursor: pointer;
}
.loadin6 table tr .boxs .uplodas .titew{
	z-index: 40;
	position: absolute;
    left: 29px;
    top: 26px;
    color: #B8B8B8;
}
.loadin6 table tr .boxs .uplodas div .icons{
	background-image: url(/static/images/icon/upload.png);
    width: 160px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.loadin7 .div2{
	width: 100%;
	position: relative;
}
.loadin7 .div2 p{
	width: 64px;
	float: left;
	margin-left: 74px;
	font-weight: bold;
	margin-right: 10px;
	
}
.loadin7 .div2 .floor-item{
	float: left;
	width: 600px;
}
.loadin7 .div2 .floor-item table{
	float: left;
	width: 600px;
	background: #f8f8f8;
	
}
.loadin7 .div2 table tr td{
	background: #f8f8f8;
	border-bottom: none!important;
	border-left: none;
}
.loadin7 .div2 table tr td input{
	margin-left: 10px;
	padding: 5px;
	width: 140px;
	height: 34px;
	border: 1px solid #dddee1;
}
.loadin7 .div2 table tr td span{
	margin-left: 10px;
}
.loadin7 .addm{
	display: inline-block;
	width: 140px;
	height: 36px;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #038BE2;
	color: #038BE2;
	text-align: center;
}

.loadin7 .addj{
	
	margin-left: 30px;
}

.loadin8{
	overflow: hidden;
	
}
.loadin8 .hint{
	float: left;
	font-weight: bold;
	margin-left: 88px;
	margin-right: 16px ;
	line-height: 80px;
}
.loadin8  table{
	float: left;
	background: #f8f8f8;
	width: 600px;
	height: 170px;
}
.loadin8  table tr td:nth-child(1){
	text-align: right;
	width: 120px;
	padding-right: 12px;
}
.loadin8  table tr td input{
	width: 198px;
	height: 34px;
	border: 1px solid #dddee1;
}
.loadin8  .hints{
	display: block;
    font-weight: normal;
    font-size: 12px;
    width: 500px;
   
    margin-left: 91px;
    line-height: 70px;
   color: #ff6612;
}
.loadin8  .hints i{
	font-size: 16px;
	margin: 0 10px 0 60px;
	
}
.loadin8  .addm{
	display: block;
	margin-left: 150px;
	width: 140px;
	height: 36px;
	background: #038BE2;
	border: 1px solid #038BE2;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
.ivu-icon.ivu-icon-camera::before{
    display: none;
}