.message-tis{
	width: 100%;
	height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
	
}
.logins{
	width: 100%;
	height: 100%;
	position: relative;
}
.logins table{
	margin-left: 110px;
	margin-top: 50px;
	font-size: 12px;
	position: relative;
}
.logins table tr{
	height: 50px;
}
.logins table tr td input{
	padding-left: 5px;
}
.logins table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	
}
.logins table .yzms{
	height: 20px!important;
	position: relative;
}
.yz{
	position: absolute;
	left: 196px;
	top: 104px;
	color: #ff6612;
}
.yz i{
	color: #ff6612;
	font-size: 16px;
	margin-right: 8px;
}
.yz span{
	font-size: 12px;
	font-weight: 700;
}

.yz2{
	margin-top:5px;
	color: #ee120e;
	top: 230px;
}
.yz2 i{
	color: #ee120e;
}
.logins table tr td:nth-child(2){
	padding-left: 15px;
}
.logins table tr td input{
	height: 34px;
	width: 278px;
}
.logins table tr td #yzm{
	width: 168px;
}
.logins table tr td a{
	display: inline-block;
	width: 100px;
	height: 34px;
	border: 1px solid #038be2;
	border-radius: 5px;
	text-align: center;
	line-height: 33px;
	margin-left: 10px;
}
.logins button{
	border: none;
	width: 280px;
	height: 40px;
	background: #038be2;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	font-size: 16px;
	color: white;
	margin-left: 192px;
	margin-top: 50px;
	cursor: pointer;
}
