.wprdbench{
	min-height: 1000px;
}
.wprdbench .el-tabs__header{
	/* border-bottom: 1px solid #038BE2; */
	margin: 0;
	background:#f7f7f7; 
}
.wprdbench .el-tabs{
	/* box-shadow: 0 3px 1px #ccc;  */
}
.wprdbench .el-tabs .el-tabs__nav{
	border:1px solid #dcdcdc;
}
.wprdbench .el-tabs__header .el-tabs__item{
	background: #f8f8f8;
	width: 158px;
	height: 54px;
	line-height: 52px;
	columns: #333333;
	text-align: center;
	border-top: 3px solid #f7f7f7;
	/* border-top-left-radius: 10px; */
	/* border-top-right-radius: 10px; */
	/* border-bottom: 1px solid #038BE2; */
	font-size: 18px;
}

.wprdbench .el-tabs__header .is-active{
	background: #ffffff;
	color: #00afcc;
	border:none;
	border-radius:0!important;
	border-top: 3px solid #00afcc!important;
	/* border-top-left-radius: 10px!important; */
	/* border-top-right-radius: 10px!important; */
}
#messageInform1{
	width: 100%;
	background: #fff;
	overflow: hidden;
	position: relative;
	padding-bottom: 40px;
}
#messageInform1 table{
	width: 90%;
	margin-left: 5%;
	min-height: 96px;
	border-collapse: collapse;
	margin-top: 30px;
	padding: 20px 15px;
}
#messageInform1 table td{
	height: 48px;
	color: #000;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px solid #dcdcdc;
}
#messageInform1 table td:nth-child(3){
	text-align: left;
	padding-left: 20px;
	
	
}
#messageInform1 table thead{
	font-weight: bold;
}
#messageInform1 table thead td{
	color:#00afcc;
}
.wprdbench .el-pagination{
	text-align: center;
	margin-top: 40px;
}
.wprdbench .el-pagination .el-pager .number{
	margin: 0 5px;
	border: 1px solid #DCDCDC;
}
.wprdbench .el-pagination .el-pager .active{
	background: #00afcc;
}
.wprdbench .el-pagination button{
	border: 1px solid #DCDCDC;
}
#messageInform1 .issue{
	display: block;
	width: 140px;
	height: 40px;
	background: #F8F8F8;
	border:1px solid #DCDCDC;
	text-align: center;
	line-height: 40px;
	color: #666;
	border-radius: 5px;
	margin-left: 20px;
	margin-top: 30px;
	font-size: 16px;
}
.zhezhaoa{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.5;
	
}
.instas{
	width: 500px;
	height: 420px;
	background: #fff;
	z-index: 101;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	
}
.instas .el-icon-circle-close{
	position: absolute;
    right: -41px;
    top: -41px;
    font-size: 36px;
    color: #3d3d3d;
    cursor: pointer;
    
}
.instas p{
	width: 100%;
	height: 60px;
	background: #038BE2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 60px;
}
.instas table{
	width: 410px;
	margin-left: 50px;
	margin-top: 25px;
}
.instas table tr td:nth-child(1){
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}
.instas table tr td .el-select{
	width: 320px;
}
.instas table tr td .el-select .el-input .el-input__icon{
	border: 1px solid #DCDCDC;
	transition:auto;
}

.instas table tr td .el-select .el-input__inner{
	border-radius: inherit;
	width: 320px;
}
.instas table tr{
	height: 60px;
}
.instas tr td textarea{
	width: 320px;
	height: 120px;
	border: none;
	resize: none;
	padding-left: 10px;
	border: 1px solid #DCDCDC;
}
.instas tr td input{
	width: 320px;
	height: 34px;
	padding-left: 10px;
	border: none;
	border: 1px solid #DCDCDC;
}
.instas a{
	width: 140px;
	height: 36px;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color: white;
	background: #038BE2;
	border-radius: 5px;
	margin-left: 180px;
	margin-top: 10px;
}
.instas tr td textarea::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}
.instas tr td input::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #8fa6bf;
}