#openrefund{
	width: 100%;
	min-height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
	position: relative;
}
#openrefund .scherm{
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.5;
}
#openrefund table{
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}
#openrefund table tr td input{
	width: 298px;
	height: 34px;
	border: none;
	border: 1px solid #DCDCDC;
	outline: none;
	padding-left: 10px;
}
#openrefund table tr{
	line-height: 50px;
}
#openrefund table tr td span{
	margin-left: 10px;
}
#openrefund table tr td textarea{
	width: 430px;
	height: 136px;
	resize: none;
	line-height: 30px;
	margin-top: 10px;
	outline: none;
	border: 1px solid #DCDCDC;
	padding-left: 10px;
}

#openrefund table tr td:nth-child(1){
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-right: 10px;
}
#openrefund a{
	width: 140px;
	height: 40px;
	border-radius: 5px;
	background: #038BE2;
	font-size: 14px;
	color: white;
	text-align: center;
	line-height: 40px;
	display: block;
	margin-left: 170px;
}
