body,
html {
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}

#loginBack2 {
	height: 1000px;
}

#loginBack2 .login-warp {
	position: absolute;
	left: 50%;
	margin-left: -422.5px;
	top: 50%;
	margin-top: -300px;
	width: 841px;
	height: 600px;
}

#loginBack2 .login-warp .logo {
	margin-left: 30px;
	width: 361px;
}

#loginBack2 .login-warp .logo img {
	max-width: 100%;
}

#loginBack2 .login-main{
	position: relative;
	background: url("/static/images/icon/loginBack02_02.png") no-repeat;
	height: 447px;
}

#loginBack2 .Copy{
	color: #999999;
	font-size: 14px;
	margin-top: 60px;
	margin-left: 145px;
}
#loginBack2 .login-main .ivu-steps{
	position: absolute;
	top: 20%;
	left: 18%;
}
#loginBack2 .login-main .tits{
	position: absolute;
	left: 22px;
    top: 124px;
}
#loginBack2 .login-main .tits span{
	float: left;
	width: 70px;
	text-align: center;
}
#loginBack2 .login-main .tits span:nth-child(1){
	margin-left: 105px;
	margin-right: 212px;
}
#loginBack2 .login-main .tits span:nth-child(2){
	margin-right: 212px;
} 
#loginBack2 .login-main .qhs table{
	position: absolute;
	left: 187px;
	top: 42%;
}
#loginBack2 .login-main .qhs table tr{
	height: 60px;
}
#loginBack2 .login-main .qhs table tr td:nth-child(1){
	text-align: right;
}
#loginBack2 .login-main .qhs table tr td .hq{
	width: 118px;
	height: 42px;
	border: 1px solid #dcdcdc;
	text-align: center;
	line-height: 42px;
	background: #f8f8f8;
	border-radius: 5px;
	display: inline-block;
	color: #666;
	margin-left: 10px;
}
#loginBack2 .login-main .qhs table tr td i{
	margin:0 10px;
}
#loginBack2 .login-main .qhs table tr td span{
	display: inline-block;
	position: absolute;
	right: -198px;
    top: 83px;
    font-size: 12px;
	width: 200px;
	height: 100px;
}
#loginBack2 .login-main .qhs .xyb{
	width: 300px;
	height: 44px;
	background: #038BE2;
	text-align: center;
	line-height: 44px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	left: 275px;
    top: 337px;
}
#loginBack2 .login-main .qhs img {
	position: absolute;
	left: 380px;
    top: 165px;
	width: 120px;
	height: 120px;
}
#loginBack2 .login-main .qhs p:nth-child(2){
	position: absolute;
	left: 288px;
    top: 304px;
    font-size: 18px;
    color: #000;
}
#loginBack2 .login-main .qhs p:nth-child(3){
	position: absolute;
	left: 332px;
    top: 334px;
}
