.recording{
    width: 100%;
	min-height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
}
.recording .tos{
    height: 76px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}
.recording .tos .bsf{
    line-height: 76px;
    margin-left: 20px;
    font-size: 12px;
    color: #000;
}
.recording .tos .sous{
    display: inline-block;
    cursor: pointer;
    width: 98px;
    height: 35px;
    border: 1px solid #329cf6;
    color: #329cf6;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 20px;
}
.recording .lives{
    width: 100%;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
}
.recording .lives .lis{
    float: left;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}
.recording .lives .lis .logs{
    width: 250px;
    height: 190px;
}
.recording .lives .lis #myvideo{
    position: absolute;
    left: 0;
    top: 0;
}
.recording .lives .lis .hfs{
    display: inline-block;
    width: 68px;
    height: 22px;
    background: #ee7700;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 12px;
    top: 10px; 
}
.recording .lives .lis .commid{
    position: absolute;
    left: 8px;
    bottom: 15px; 
    font-size: 12px;
    color: #fff;
    z-index: 10;
}
.recording .lives .lis .bfs{
    position: absolute;
    left: 0;
    top:0;
    width: 250px;
    height: 190px;
    display: none;
    background: #666;
    opacity: 0.5;
}
.recording .lives .lis .bfs div{
    width: 250px;
    height: 190px;
    display: none;
    border: 2px solid #ee7700;
    z-index: 9;
}
.recording .lives .lis .btsg{
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    transform: translate(-50%,-50%);
}
.recording .lives .lis:hover .btsg{
    display: block;
}
.recording .lives .lis:hover .bfs,.recording .lives .lis:hover .bfs div{
    display: block;
}
.recording .lives .lis:hover .hfs{
    display: none;
}
.recording .el-pagination {
    width: 100%;
    text-align: center;
	margin-top: 100px;
}

.recording .el-pagination .el-pager .number {
	margin: 0 5px;
	border: 1px solid #DCDCDC;
}

.recording .el-pagination button {
	border: 1px solid #DCDCDC;
}
#zbjs{
    position: absolute;
    left: 50%;
    top: 50%;    
    display: none;
    transform: translate(-50%,-50%);
    z-index: 100;
}
#zbjs i{
    font-size: 30px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}