#surrendetal{
	width: 100%;
	min-height: 1000px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 3px 1px #ccc;
	position: relative;
}
#surrendetal .surrendetal1{
	min-height: 114px;
	width: 100%;
	background: #f7fbff;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
}
#surrendetal .surrendetal1 i{
	font-size: 20px;
	color: #038BE2;
	margin-top: 26px;
	margin-left: 24px;
	margin-right: 12px;
}
#surrendetal .surrendetal2 input{
	width: 118px;
	height: 34px;
	margin-right: 5px;
}
#surrendetal .surrendetal1 p{
	display: inline-block;
	font-size: 16px;
	color: #038BE2;
}
#surrendetal .surrendetal1 ul{
	overflow: hidden;
}
#surrendetal .surrendetal1 ul li{
	float: left;
	margin-left: 60px;
	margin-right: 10px;
	line-height: 60px;
}
#surrendetal .surrendetal1 a{
	display: inline-block;
	width: 118px;
	height: 34px;
	border: 1px solid #038BE2;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
	line-height:34px;
	background: #fff;
	color: #038BE2;
	position: absolute;
	right: 60px;
	bottom: 20px;
}
#surrendetal .surrendetal2 div{
	width: 92%;
	min-height: 170px;
	margin-left: 4%;
	border-bottom:1px dashed #DCDCDC;
	position: relative;
}
#surrendetal .surrendetal2 div h3{
	display: inline-block;
	font-size: 16px;
	color: #038BE2;
	line-height: 18px;
	margin-top: 40px;
}
#surrendetal .surrendetal2 div img{
	width: 4px;
	height: 18px;
	margin-right: 12px;
	margin-bottom: 4px;
}
#surrendetal .surrendetal2 div ul{
	margin-top: 10px;
	margin-left: 20px;
}
#surrendetal .surrendetal2 div ul li{
	float: left;
	margin-right: 50px;
	line-height: 40px;
	font-size: 14px;
}
#surrendetal .surrendetal2 div a{
	display: inline-block;
	width: 118px;
	height: 34px;
	border: 1px solid #038BE2;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
	line-height:34px;
	background: #fff;
	color: #038BE2;
	position: absolute;
	right: 0;
	bottom: 20px;
}
#surrendetal .surrendetal2 div table{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 14px;
}
#surrendetal .surrendetal2 div table tr td{
	padding-right: 76px;
	line-height: 40px;
}
#surrendetal .surrendetal2 div .zong{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
	color: #000;
	margin-bottom: 20px;
	font-weight: bold;
	display: block;
	position: absolute;
	right: 0;
	bottom: 10px;
}
#surrendetal .surrendetal2 div .chb{
	display: inline-block;
	width: 118px;
	height: 34px;
	border: 1px solid #dcdcdc;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
	line-height:34px;
	background: #f8f8f8;
	color: #666;
	position: absolute;
	right: 150px;
	bottom: 50px;
}
#surrendetal .surrendetal2 div .wuzi td:nth-child(1) input{
	width: 140px;
}
#surrendetal .surrendetal2 div .wuzi td:nth-child(2) input{
	width: 68px;
}
#surrendetal .surrendetal2 div .wuzi tr td:nth-child(1){
	padding-right: 20px;
}
#surrendetal .surrendetal2 div .wuzi tr td:nth-child(2){
	padding-right: 88px;
}
#surrendetal .surrendetal2 div .titus{
	width: 600px;
	height: 42px;
	background: #fbfdff;
	font-size: 12px;
	color: #038BE2;
	border: 1px dashed #9accea;
	border-radius: 5px;
	text-align: center;
	line-height: 42px;
	position: absolute;
	left: 272px;
    top: 4px;
}
#surrendetal .surrendetal2 div .loses{
	display: inline-block;
	width: 138px;
	height: 38px;
	border: 1px solid #038BE2;
	font-size: 12px;
	border-radius: 5px;
	text-align: center;
	line-height:38px;
	background: #038be2;
	color: #fff;
	position: absolute;
	left: 120px;
	top: 60px;
}
#surrendetal .surrendetal2 div .tsm{
	position: absolute;
    left: 292px;
    top: 69px;
    font-size: 12px;
    color: #ff6612;
}
#surrendetal .surrendetal2 .Seeway{
	border: none;
}
#surrendetal .surrendetal2 .Seeway p{
	margin-left: 20px;
	font-size: 14px;
	color: #000;
	line-height: 40px;
	font-weight: bold;
	display: block;
}
#surrendetal .surrendetal2 .Seeway ul{
	width: 100%;
}
#surrendetal .surrendetal2 .Seeway ul li{
	margin-right: 180px;
}
#surrendetal .surrendetal2 .qts ul li span:nth-child(1){
	margin-right: 78px;
}
#surrendetal .surrendetal2 .qts ul li input:nth-child(1){
	margin-right: 78px;
	width: 220px;
}